<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackerNews</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body class="my-lg-2">
    <div class="container">
        <div class="row">
            <div class="col-10 offset-1 p-0 lh-0">
                <header class="bg-color">
                    <nav class="navbar navbar-expand-lg p-0 mx-0">
                        <div class="container-fluid px-1 lh-1 small-font py-0">
                            <a class="navbar-brand p-0 m-0" href="/">
                                <img src="../images/logo.svg" alt="Logo"
                                    class="img-fluid border border-white border-2 m-0">
                                <span class="fw-bold fs-6">Hacker News</span>
                            </a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-lg-0">
                                    <li class="nav-item d-flex align-items-center">
                                        <a class="nav-link active pe-auto" aria-current="page" href="/newest">new</a> |
                                    </li>
                                    <li class="nav-item d-flex align-items-center">
                                        <a class="nav-link active pe-auto" href="#">past</a> |
                                    </li>
                                    <li class="nav-item d-flex align-items-center">
                                        <a class="nav-link active pe-auto" aria-current="page" href="#">comments</a> |
                                    </li>
                                    <li class="nav-item d-flex align-items-center">
                                        <a class="nav-link active pe-auto" aria-current="page" href="#">ask</a> |
                                    </li>
                                    <li class="nav-item d-flex align-items-center">
                                        <a class="nav-link active pe-auto" aria-current="page"
                                            href="/showhn.html">show</a> |
                                    </li>
                                    <li class="nav-item d-flex align-items-center">
                                        <a class="nav-link active pe-auto" aria-current="page" href="#">jobs</a> |
                                    </li>
                                    <li class="nav-item d-flex align-items-center">
                                        <a class="nav-link active pe-auto" aria-current="page" href="#">submit</a> |
                                    </li>
                                    <li class="nav-item d-flex align-items-center">
                                        <a class="nav-link active pe-auto text-white" aria-current="page"
                                            href="#">lists</a>
                                    </li>
                                </ul>
                                <a class="nav-link active pe-auto" aria-current="page" href="#">login</a>
                            </div>
                        </div>
                    </nav>
                </header>
            </div>
        </div>
    </div>
    <main class="">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1 p-0 lh-0 bg-color small-font">
                    <table class="table bg-color table-borderless table-sm p-2">
                        <tbody class="">
                            <tr class="">
                                <td scope="row" class="w-10 py-0 bg-color"><a href="">front</a></td>
                                <td class="w-90 py-0 bg-color link-secondary">Front page submissions
                                    for a given day (e.g. <a href="">2016-06-20</a>)</td>
                            </tr>
                            <tr class="">
                                <td class=" py-0 bg-color"><a href="">pool</a></td>
                                <td class=" py-0 bg-color link-secondary">Links selected for a <a href="">
                                        second
                                        chance
                                    </a> at the front page</td>
                            </tr>
                            <tr class="">
                                <td class=" py-0 bg-color"><a href="">invited</a></td>
                                <td class=" py-0 bg-color link-secondary">Overlooked links, invited to
                                    repost</td>
                            </tr>
                            <tr class="">
                                <td class=" py-0 bg-color"><a href="">highlights</a></td>
                                <td class=" py-0 bg-color link-secondary">Particularly interesting
                                    comments</td>
                            </tr>
                            <tr class="">
                                <td class="py-0 bg-color"><a href="">shownew</a></td>
                                <td class="py-0 bg-color link-secondary">The latest <a href="" class=" link-secondary">Show HN</a> posts
                                </td>
                            </tr>
                            <tr class="">
                                <td class="py-0 bg-color"><a href="">asknew</a></td>
                                <td class="py-0 bg-color link-secondary">The latest <a href="" class=" link-secondary">Ask HN</a> (text)
                                    posts</td>
                            </tr>
                            <tr class="">
                                <td class="py-0 bg-color"><a href="">best</a></td>
                                <td class="py-0 bg-color link-secondary">Highest-voted recent links
                                </td>
                            </tr>
                            <tr class="">
                                <td class="py-0 bg-color"><a href="">bestcomments</a></td>
                                <td class="py-0 bg-color link-secondary">Highest-voted recent
                                    comments</td>
                            </tr>
                            <tr class="">
                                <td class="py-0 bg-color"><a href="">active</a></td>
                                <td class="py-0 bg-color link-secondary">Most active current
                                    discussions</td>
                            </tr>
                            <tr class="">
                                <td class="py-0 bg-color"><a href="">leaders</a></td>
                                <td class="py-0 bg-color link-secondary">Users with most karma</td>
                            </tr>
                            <tr class="">
                                <td class="py-0 bg-color"><a href="">noobstories</a></td>
                                <td class="py-0 bg-color link-secondary">Submissions from new
                                    accounts</td>
                            </tr>
                            <tr class="">
                                <td class="py-0 bg-color"><a href="">noobcomments</a></td>
                                <td class="py-0 bg-color link-secondary">Comments from new accounts
                                </td>
                            </tr>
                            <tr class="">
                                <td class="py-0 bg-color"><a href="">whoishiring</a></td>
                                <td class="py-0 bg-color link-secondary">Monthly "Who Is Hiring"
                                    threads</td>
                            </tr>
                            <tr class="">
                                <td class="py-0 bg-color"><a href="">launches</a></td>
                                <td class="py-0 bg-color link-secondary">Launches of YC startups</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer class="container">
        <div class="row">
            <div class="col-10 offset-md-1 bg-color">
                <hr class="border border-danger border-1 opacity-75">
                <div class="text-center small-font">
                    <p>Applications are open for YC Winter 2024</p>
                    <ul class="nav lh-1 d-flex justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link active border-end border-black pe-auto text-reset" aria-current="page"
                                href="/guidelines.html">Guidelines</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active border-end border-black pe-auto text-reset"
                                href="/faq.html">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active border-end border-black pe-auto text-reset"
                                href="/lists">Lists</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active border-end border-black link-secondary pe-auto" href="https://github.com/HackerNews/API">API</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active border-end border-black pe-auto text-reset" href="/security.html">Security</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active border-end border-black pe-auto text-reset" href="https://www.ycombinator.com/legal/">Legal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active border-end border-black pe-auto text-reset" href="https://www.ycombinator.com/apply/">Apply to
                                YC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active pe-auto text-reset" href="mailto:hn@ycombinator.com">Contact</a>
                        </li>
                    </ul>
                    <div class="my-3">
                        <label for="search" class="link-secondary">Search: </label>
                        <input type="text">
                    </div>
                </div>
            </div>
        </div>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>