<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rules</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center" style="max-width: 400px; height: auto;">
                    <a href="/">
                        <img src="../images/combinator.svg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </header>
    <section class="mt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">

                    <h6><b>Show HN</b></h6>
                    <p>Show HN is for something you've made that other people can play with. HN users can try it out,
                        give you
                        feedback, and ask questions in the thread.</p>
                    <p>On topic: things people can run on their computers or hold in their hands. For hardware, you can
                        post a video
                        or detailed article. For books, a sample chapter is ok.</p>
                    <p>Off topic: blog posts, sign-up pages, newsletters, lists, and other reading material. Those can't
                        be tried
                        out, so can't be Show HNs. Make a regular submission instead.</p>
                    <p>The project must be something you've worked on personally and which you're around to discuss. See
                        these <a href="">tips</a> about how to present your work.</p>
                    <p>A Show HN needn't be complicated or look slick. The community is comfortable with work that's at
                        an early
                        stage.</p>
                    <p>Please make it easy for users to try your thing out, ideally without barriers such as signups or
                        emails.
                        You'll get more feedback that way.</p>
                    <p>If your work isn't ready for users to try out, please don't do a Show HN. Once it's ready, come
                        back and do
                        it then. Don't post landing pages or fundraisers.</p>
                    <p>To post, <a href="">submit</a> a story whose title begins with "Show HN".</p>
                    <p>Every Show HN appears on <a href="">shownew</a>. Once it clears a small points threshold, it will
                        appear on
                        the <a href="">show</a> page in the top bar.</p>
                    <p>New features and upgrades ("Foo 1.3.1 is out") generally aren't substantive enough to be Show
                        HNs. A major
                        overhaul is probably ok.</p>
                    <p>Please don't ask friends to upvote or comment. That's <a href="">not ok</a> on HN.</p>
                    <h6><b>In Comments</b></h6>
                    <p>Be respectful. Anyone sharing work is making a contribution, however modest.</p>
                    <p>Ask questions out of curiosity. Don't cross-examine.</p>
                    <p>Instead of "you're doing it wrong", suggest alternatives. When someone is learning, help them
                        learn more.</p>
                    <p>When something isn't good, you needn't pretend that it is, but don't be gratuitously negative.
                    </p>


                </div>
            </div>
        </div>
    </section>
    <hr class="border border-danger border-2 opacity-75">

</body>

</html>