<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>You have to be logged in to submit.</p>
                <h3>Login</h3>
                <div>
                    <div style="margin: 10px 0;">
                        <label for="username">username:</label>
                        <input type="text" id="username">
                    </div>
                    <div style="margin: 10px 0;">
                        <label for="password">password:</label>
                        <input type="text" id="password">
                    </div>
                </div>
                <button style="margin: 20px 0;">login</button><br>
                <a href="" style="margin: 20px 0;"> Forgot your password?</a>
                <h3>Create Account</h3>
                <div>
                    <div style="margin: 10px 0;">
                        <label for="username">username:</label>
                        <input type="text" id="username"><br>
                    </div>
                    <div style="margin: 10px 0;">
                        <label for="password">password:</label>
                        <input type="text" id="password"><br>
                    </div>
                </div>
                <button style="margin: 20px 0;">create account</button>
            </div>
        </div>
    </div>

</body>

</html>