<%- include('partials/navbar') %>

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1 p-0 lh-0 bg-color small-font">
            <%= element %>
            </div>
        </div>
    </div>


    <%- include('partials/footer') %>